body  { 
	font-family:Verdana, sans-serif; 
	font-size:12pt;
}

a:link, a:visited { 
	text-decoration: none;
}

form {
	padding-top:1em;
	padding-bottom:3em;
	padding-left:2em;
}

.layout {
	width:45%;
	min-width:45%;
	margin:0px auto;
	display:block;
}

.page-header,.page-footer {
    display: block;
    padding-top: 2px;
    padding-bottom: 2px;
    height: 18px;
    font-size: 80%;
    margin: 0 auto;
    padding-left: 2px;
}

.topnav {

}

#logo {
	margin-right:4px;
}

#page-title {
	position:relative;
	bottom:4px;
	font-weight:bold;
}

.comtitle {
	
}

#navmain {
	width:auto;
	padding-left:1em;
	position:relative;
	height:10px;
	border:0;
	margin-top:0;
	margin-bottom:0;
	bottom:4px;
}

#navright {
	float:right;
	margin-right:0.5em;
	padding-left:1em;
}

.page-content {
	font-size: 80%;
	padding-top:1em;
	padding-bottom:1em;
	padding-left:2em;
	padding-right:5em;
	line-height:150%;

}

.comments-list, .threads-list {
  margin-left:2em;
  padding-left:0px;
  margin-bottom:1em;
}

.comments-list li, .threads-list li {
	list-style-type:none;
	margin-top:1em;
	margin-bottom:1em;
	margin-left:1em;
}

.items-list {
	padding-top: 0;
	padding-left: 2em;
	margin-top: 0;
}

.items-list li {
	margin-bottom:0.5em;
	margin-top:0;
}

.itemhead {
	font-size:100%;
	margin-bottom:0.2em;
} 

.comhead { 
	font-size:85%;
}

.comment {
	padding-top: 0.5em;
	padding-bottom: 0.25em;
	margin-left: 1.4em;
	font-size: 90%;
}

.comfoot {
	font-size: 85%;
	margin-left: 1.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.comfoot a:link {
	text-decoration:underline;
}

.subtext {
	font-size:85%;
	position:relative;
	left:1.4em;
}

.itemtext {
	padding:1em;
	font-size:90%;
	line-height:150%;
}

.votelinks {
	display:inline;
	float:left;
	margin-right:0.2em;
}

.page-footer {
	text-align:center;
}

.comhead a:hover { 
	text-decoration:underline; 
}

.opcomment { 
	font-weight:bold;
}

.comment-0 { opacity:1; }
.comment-1 { opacity:0.5; filter:alpha(opacity=50);}
.comment-2 { opacity:0.4; filter:alpha(opacity=40);}
.comment-3 { opacity:0.3; filter:alpha(opacity=30);}
.comment-4 { opacity:0.2; filter:alpha(opacity=20);}

/* ================= 移动端适配 (放在文件最下方) ================= */
@media screen and (max-width: 768px) {
    
    /* 1. 让主容器变宽 */
    .layout {
        width: 95% !important;  /* 强制变宽 */
        min-width: 0 !important; /* 取消最小宽度限制 */
    }

    /* 2. 关键修复：减小手机上的内边距 */
    /* 原来的 padding-right: 5em 在手机上太大了，会导致字挤在一起 */
    .page-content {
        padding-left: 1em; 
        padding-right: 1em; 
    }

    /* 3. 调整列表和缩进，让手机显示更多内容 */
    .items-list, .comments-list, .threads-list {
        padding-left: 0.5em;
        margin-left: 0.5em;
    }
    
    form {
        padding-left: 1em; /* 表单也没必要缩进那么多 */
    }

    /* 4. 导航栏调整（防止手机上换行太难看） */
    #navright {
        float: none;       /* 取消浮动 */
        display: block;    /* 变为块级元素 */
        margin-right: 0;
        text-align: left;  /* 或者 center */
        padding-left: 1em;
        margin-bottom: 10px;
    }
}
